body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(45deg, #0000, #9198e5);
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 100%;
  margin: auto;
  height: 84vh;
  display: flex;
  gap: 2%;
  justify-content: center;
}
.header {
  height: 11vh;
}
.inner-container {
  background-color: white;
  height: 84vh;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 5px 5px 5px 5px#9198e5;
}
.sideBar-container {
  width: 25%;
}
.main-container {
  width: 67%;
  display: flex;
  justify-content: flex-start;
  padding: 0px 10px;
  flex-direction: column;
}
.main-container img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
}
.single-user {
  display: flex;
  justify-content: flex-start;
  gap: 17px;
  padding: 10px 20px;
  vertical-align: middle;
  align-items: center;
}
.single-user img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.name-status {
  line-height: 0.8px;
}
.hr-div {
  padding: 0px 26px;
}
.chat-user {
  display: flex;
  gap: 8px;
  padding: 15px;
}
.type-chat-div {
  position: absolute;
  height: 100px;
  padding: 0px 10px;
  bottom: 0px;
  width: 65%;
  display: flex;
  gap: 17px;
}
input {
  height: 47px;
  width: 98%;
  border-radius: 20px;
  padding: 0px 10px;
  margin-left: -10px;
}
button {
  height: 47px;
  padding: 10px 20px;
  border-radius: 5px;
  border: transparent;
  background: #c7cdf3;
}
button:hover {
  background: #9198e5;
}

.login-container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.register-container {
  display: flex;
  height: 84vh;
  align-items: center;
  justify-content: center;
  padding: 30px;
  text-align: center;
}
.login-page-right-container {
  height: fit-content;
  padding: 0px 40px 30px 40px;
  background-color: white;
  border-radius: 8px;
  min-width: 230px;
  text-align: center;
}
.login-right-bottom-div {
  display: flex;
  justify-content: space-between;
}
.login-page-left-container {
  line-height: 0.3;
}
.login-page-left-container h1 {
  font-size: 45px;
}
.register-page-inner-container {
  height: fit-content;
  padding: 0px 40px 30px 40px;
  background-color: white;
  border-radius: 8px;
}
.register-name {
  display: flex;
  gap: 23px;
}
.forgot-password-text  {
  line-height: 0.4;
  padding-top: 20px;
}
.forgot-password-text p {
  font-size: 14px;
}
.sidebar-text {
  margin-left: 25px;
}

@media screen and (max-width: 856px) {
  .login-container {
    flex-direction: column;
    gap: 15px;
  }
  .forgot-password-text {
    line-height: 0.99;
  }
  .main-container {
    width: 90%;
  }
  .sideBar-container {
    width: 95%;
  }
  .react-input-emoji--input {
    width: 600px !important;
  }
  .type-chat-div{
    gap:1px;
  }
}
.message-div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.5rem;
  overflow: scroll;
  max-height: 60%;
}
.messages {
  padding: 7px 12px 11px 9px;
  background: #9198e5;
  max-width: fit-content;
  border-radius: 8px;
  position: relative;
}
.message-div::-webkit-scrollbar {
  display: none;
}
.text {
  position: relative;
}
.time {
  font-size: 10px;
  position: absolute;
  bottom: -10px;
  right: 5px;
}
.plus-icon {
  padding: 15px 0px;
}

.edit-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.img-modals {
  position: absolute;
  bottom: 100px;
  left: 35%;
  background: transparent;
  display: flex;
  gap: 35px;
}
.img-modals img{
  height: 50px;
  width: 50px;
  position: absolute;
  border-radius: 0px;
}
.message-img{
  height: 100px !important;
  width: auto !important;
  border-radius: 2px !important;
}

button.cross {
  height: 26px;
  width: 26px;
  padding: 10px;
  border-radius: 50%;
  border: transparent;
  background: #c7cdf3;
  position: absolute;
}

.customStyles{
  top: '50%';
  left: '50%';
  right: 'auto';
  bottom: 'auto';
  margin-right: '-50%';
  transform: 'translate(-50%, -50%)';
  height: "fit-content";
  width: "80%";
}