body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(45deg, #0000, #9198e5);
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 100%;
  margin: auto;
  height: 84vh;
  display: flex;
  gap: 2%;
  justify-content: center;
}
.header {
  height: 11vh;
}
.inner-container {
  background-color: white;
  height: 84vh;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 5px 5px 5px 5px#9198e5;
}
.sideBar-container {
  width: 25%;
}
.main-container {
  width: 67%;
  display: flex;
  justify-content: flex-start;
  padding: 0px 10px;
  flex-direction: column;
}
.main-container img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
}
.single-user {
  display: flex;
  justify-content: flex-start;
  gap: 17px;
  padding: 10px 20px;
  vertical-align: middle;
  align-items: center;
}
.single-user img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.name-status {
  line-height: 0.8px;
}
.hr-div {
  padding: 0px 26px;
}
.chat-user {
  display: flex;
  gap: 8px;
  padding: 15px;
}
.type-chat-div {
  position: absolute;
  height: 100px;
  padding: 0px 10px;
  bottom: 0px;
  width: 65%;
  display: flex;
  gap: 17px;
}
input {
  height: 47px;
  width: 100%;
  padding: 0px 5px 0px 5px;
  border-radius: 20px;
}
button {
  height: 47px;
  padding: 10px 20px;
  border-radius: 5px;
  border: transparent;
  background: #c7cdf3;
}
button:hover {
  background: #9198e5;
}

.login-container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 70px;
}
.login-page-right-container{
  height: fit-content;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
}
.login-right-bottom-div {
  display: flex;
  gap: 60px;
}